* {
    box-sizing: border-box;
}
body {
    background-image: url("/images/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
  
}

h3.title  {
    color: #260101;  
    width: 100%;
    font-size: 40px;
    
}

h5{
    color: #260101;
}

a {
    text-decoration: none;
}

p{
    color: #5B2F1D;
}

.navbar {
    background: #260101;

}
div.collapse {
    color: #F1CEB4;
}
button.navbar-toggler {
    color: #F1CEB4;
    /* background-color: #F1CEB4; */
    border: 2px solid #F1CEB4;

}
span.navbar-toggler-icon {
    color: rgb(241, 206, 180);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(241, 206, 180)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo {
    height: 50px;
    background: #F1CEB4;
    border-radius: 100%;
    margin-right: 20px;
    margin-bottom: 10px;
}


a.navbar-brand {
    color: #F1CEB4;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a.navbar-brand:hover {
    color: #F1CEB4;
}

.collapse {
    width: 30%;  
}

li.nav-item {
    color: #F0F2EF;
    padding-right: 20px;
}

a.nav-link {
    font-size: 20px;
    color: #F1CEB4;
}

a.nav-link:hover {
    color:#F0F2EF !important;
}

a.active {
    text-decoration: underline;
}

.text-center{
    width: 100%;
}

.book-button {
    background: #BD8D7B;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: #5B2F1D;
    text-decoration: none;
    border-color: #BD8D7B;
}

.contact-button {
    background: #5B2F1D;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    color: #F1CEB4;
    text-decoration: none;
    border-color: #5B2F1D;
}

.header-title {
    color: #260101;
    font-size: 50px;
}

.card {
    margin-right: 0px;
}

.company-cards {
    display: flex;
    flex-direction: row;
    width: 100%; 
}

.card-title {
    color: #5B2F1D;
    font-size: 30px;
}

.card-text {
    color: #260101;
} 

footer {
    background: #F0F2EF;
}

/* Produkter */

section.product-section {
    height: 100%;
    
}
.party-product-container {
    width: 93%;
    height: 100%;
    margin-top: 100px;
    background-color: #F1CEB4;
}


.product-container {
    width: 100%;
    height: 100%;
    background-color: #F1CEB4;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
   
}

.party-products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0px 0px 0px;
    width: 100%;
}

.party-card-title{
  color: #F1CEB4;
  font-size: 40px;
  margin-bottom: 30px;
}

.party-card-text {
    color:#F1CEB4;
}

.party-img {
    opacity: 0.3;
    color: #F1CEB4; 
}

.book-party-btn {
    background: #BD8D7B;

    width: 150px;
    height: 40px;
    border-radius: 5px;
    color: #260101;
    text-decoration: none;
}

div.card {
    padding: 0px;
    border: none;
}

.product-card {
    width: 15rem;
} 

.card-body {
    background: #BD8D7B;
    padding: 0px;
}

li.list-group-item{
    background: #BD8D7B;
    color: #260101;
}

/* about */

div.about-card {
    margin-top: 170px;
    padding: 10px; 
} 

div.contact-card {
    background: #F1CEB4;
    height: 350px;
    width: 350px;
    border-radius: 100%;    
} 

.about-card-text {
    color: #260101;
    line-height: 30px;
}

img:nth-child(2) {
    height: 350px;
}

  @media (max-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    body {
        background-image: none;        
        background-color: #f0f2f3;
    }
    .company-cards {
        flex-direction: column;
        align-items: center;
    }

    .party-product-container {
        width: 100%;
    }

    .party-products {
        flex-direction: column;
    }

    .product-container {
        flex-direction: column;
    }

    img.party-img{
        width: 100%;
    }

    .products {
        flex-direction: column;
        align-items: center;        
    }

    div.contact-container {
        display: flex;
        flex-direction: column;
       
    }

  }